.progressBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;

  .timeInfo {
    margin-left: 1rem;
    font-size: 1rem;
    color: #fff;

    @media (max-width: 800px) {
      margin-left: 0.5rem;
      font-size: 0.75rem;
    }
  }
}