.button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  path {
    stroke: #FFF;
    transition: all .3s;
  }
  &:hover,
  &:focus {
    path {
      stroke: #ffd724;
    }
  }
}
